body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px   ;
    background-color: #ffffff;
    margin: 0;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}
.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
button {
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-list {
    background: white;
    border-radius: 10px;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.contact-info {
    flex-grow: 1;
}
.icons {
    display: flex;
    gap: 10px;
}
.icons span {
    cursor: pointer;
    color: red;
}

#contacts li {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none; 
    margin-bottom: 5px;
}

#contacts li span {
    min-width: 100px;
}
